DB_USER="db_user"
DB_PASSWORD="db_password"
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="db_name"
DB_CHARSET="utf8"
DB_PARSE_TIME="True"
DB_LOC="Local"
REDIS_ADDR="127.0.0.1:6379"
REDIS_PW=""
REDIS_DB=""
SESSION_SECRET="setOnProducation"
GIN_MODE="debug"
LOG_LEVEL="debug"
